<div class="container">

  <div class="panel-group" id="product" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" role="tab">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#product" href="#collapsePudding">
            依蕾特布丁奶酪
          </a>
        </h4>
        </h4>
      </div>
      <div id="collapsePudding" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPudding">
        <div class="panel-body">

          <h2>
            <a data-toggle="collapse" href="#pudding1"><p class="text-info">鮮奶布丁<em>Milk Pudding</em></p></a>
          </h2>
          <div class="row collapse" id="pudding1">
            <div class="col-md-4">
              <img src="http://www.elate.com.tw/elate2014/upload/images/201291020394784709.jpg" class="img-responsive">
            </div>
            <div class="col-md-5">
              <pre>
乳香濃郁的鮮奶，摻和鮮美的蛋汁
調理製成如同白漿凝玉液
香濃襲人，讓人饞涎欲滴！
原料：鮮奶、蛋、鮮奶油、砂糖、香草、糖漿
內容量：170 ± 5 公克
保存方式：冷藏保存14天
營養標示：(每100公克) 熱量125大卡、蛋白質6公克、脂肪5公克、飽和脂肪5公克、反式脂肪0公克、碳水化合物14公克、鈉29毫克
              </pre>
            </div>
            <div class="col-md-3">
            </div>
          </div>

          <h2>
            <a data-toggle="collapse" href="#pudding2"><p class="text-info">可可奶酪<em>Cocoa Flan</em></p></a>
          </h2>
          <div class="row collapse" id="pudding2">
            <div class="col-md-4">
              <img src="http://www.elate.com.tw/elate2014/upload/images/201291020502236511.jpg" class="img-responsive">
            </div>
            <div class="col-md-5">
              <pre>
可可與牛奶的完美搭配
和濃郁的咖啡醬汁
典雅誘人的色澤與風味，令人垂涎
原料：鮮奶、鮮奶油、奶粉、可可粉、砂糖、咖啡粉、乳化劑、海藻抽出物
內容量：170 ± 5 公克
保存方式：冷藏保存14天
營養標示：(每100公克) 熱量129大卡、蛋白質6公克、脂肪5公克、飽和脂肪5公克、反式脂肪0公克、碳水化合物15公克、鈉23毫克
              </pre>
            </div>
            <div class="col-md-3">
            </div>
          </div>

          <h2>
            <a data-toggle="collapse" href="#pudding3"><p class="text-info">芒果奶酪<em>Mango Flan</em></p></a>
          </h2>
          <div class="row collapse" id="pudding3">
            <div class="col-md-4">
              <img src="http://www.elate.com.tw/elate2014/upload/images/201291020573275780.jpg" class="img-responsive">
            </div>
            <div class="col-md-5">
              <pre>
嬌黃滑嫩的奶酪
淋上甘甜艷黃的香濃芒果泥
共譜出完美的協奏曲，風味細緻
原料：鮮奶、鮮奶油、芒果泥、奶粉、砂糖、乳化劑、海藻抽出物
內容量：170 ± 5 公克
保存方式：冷藏保存14天
營養標示：(每100公克) 熱量101大卡、蛋白質6公克、脂肪5公克、飽和脂肪5公克、反式脂肪0公克、碳水化合物8公克、鈉16毫克
              </pre>
            </div>
            <div class="col-md-3">
            </div>
          </div>

          <h2>
            <a data-toggle="collapse" href="#pudding4"><p class="text-info">芝麻奶酪<em>Sesame Flan</em></p></a>
          </h2>
          <div class="row collapse" id="pudding4">
            <div class="col-md-4">
              <img src="http://www.elate.com.tw/elate2014/upload/images/2014251451959763.jpg" class="img-responsive">
            </div>
            <div class="col-md-5">
              <pre>
研磨香炒芝麻調和醇奶
淋上香稠的黑芝麻醬汁
增添雙倍黑香風采 沁味蕾 絕選
原料：鮮奶、鮮奶油、黑芝麻、奶粉、砂糖、乳化劑、海藻抽出物
內容量：170 ± 5 公克
保存方式：冷藏保存14天
營養標示：(每100公克) 熱量134大卡、蛋白質6公克、脂肪6公克、飽和脂肪6公克、反式脂肪0公克、碳水化合物14公克、鈉21毫克
              </pre>
            </div>
            <div class="col-md-3">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default" role="tab">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#product" href="#collapseTart">
            典藏塔
          </a>
        </h4>
      </div>
      <div id="collapseTart" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTart">
        <div class="panel-body">
          <h2>
            <a data-toggle="collapse" href="#tart1"><p class="text-info">檸檬典藏塔<em>Lemon Tart</em></p></a>
          </h2>
          <div class="row collapse" id="tart1">
            <div class="col-md-4">
              <img src="http://www.elate.com.tw/elate2014/upload/images/201491910325350716.jpg" class="img-responsive">
            </div>
            <div class="col-md-5">
              <pre>
天然檸檬香氣
交疊甜漬鮮採鳳梨
鮮奶醇香濃厚 沈潛高雅風味
原料：鮮奶、鮮奶油、檸檬、蛋、奶油、麵粉、砂糖、鳳梨、蜂蜜、奶粉、鹽、海藻抽出物
內容量：70公克
保存方式：冷凍保存12天
營養標示：(每70公克) 熱量262大卡、蛋白質3.9公克、脂肪12.1公克、飽和脂肪4.7公克、反式脂肪0公克、碳水化合物34.1公克、鈉52毫克
              </pre>
            </div>
            <div class="col-md-3">
            </div>
          </div>

          <h2>
            <a data-toggle="collapse" href="#tart2"><p class="text-info">可可典藏塔<em>Chocolate Tart</em></p></a>
          </h2>
          <div class="row collapse" id="tart2">
            <div class="col-md-4">
              <img src="http://www.elate.com.tw/elate2014/upload/images/201491910253718075.jpg" class="img-responsive">
            </div>
            <div class="col-md-5">
              <pre>
頂級進口可可
襯綴烘培研磨咖啡豆
鮮奶醇香濃厚 沈潛高雅風味
原料：鮮奶、鮮奶油、可可、蛋、奶油、麵粉、砂糖、奶粉、鹽、咖啡粉、海藻抽出物
內容量：70公克
保存方式：冷凍保存12天
營養標示：(每70公克) 熱量209大卡、蛋白質2.7公克、脂肪4.3公克、飽和脂肪1.5公克、反式脂肪0公克、碳水化合物29.9公克 鈉62毫克
              </pre>
            </div>
            <div class="col-md-3">
            </div>
          </div>

          <h2>
            <a data-toggle="collapse" href="#tart3"><p class="text-info">焦糖典藏塔<em>Caramel Tart</em></p></a>
          </h2>
          <div class="row collapse" id="tart3">
            <div class="col-md-4">
              <img src="http://www.elate.com.tw/elate2014/upload/images/201491910205537715.jpg" class="img-responsive">
            </div>
            <div class="col-md-5">
              <pre>
嚴選法國頂級鮮奶油
微燻香甜焦
創造極緻 經典風味
原料：鮮奶、鮮奶油、蛋、奶油、麵粉、砂糖、奶粉、鹽、海藻抽出物
內容量：70公克
保存方式：冷凍保存12天
營養標示：(每70公克) 熱量253大卡、蛋白質2.7公克、脂肪10.2公克、飽和脂肪3.9公克、反式脂肪0公克、碳水化合物35.7公克 鈉67毫克
              </pre>
            </div>
            <div class="col-md-3">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
