<div class="container marketing">

  <div class="row featurette">
    <div class="col-md-4">
      <h2 class="featurette-heading">倒數<span class="text-muted">32</span>天</h2>
      <pre class="lead">
可不可以不要走
就在臺南一起度過所有美麗及哀愁？
不是怕北上的你發現更大的世界
而是你就是我的宇宙

3/29，活大禮堂
南南戀，別走

手語劇
圖資一 張宜晴 
動科一 吳孟錡
      </pre>
    </div>
    <div class="col-md-8">
      <img class="featurette-image img-responsive img-rounded" src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/11021287_972364946108870_6811953706892565401_o.jpg?dl=1" alot="Generic placeholder image">
    </div>
  </div>


  <div class="row featurette">
    <div class="col-md-8">
      <h2 class="featurette-heading">倒數<span class="text-muted">30</span>天</h2>
      <pre class="lead">
收拾行囊，你負笈前往
告訴我要微笑堅強
噙著淚，我狠心背對
想著明明是準點的愛情
為何提前異地相思兩茫茫？

3/29，活大禮堂
南南戀，但你先去了北方

開場舞
會計一 王筱嵐
獸醫一 陳品妤
      </pre>
    </div>
    <div class="col-md-4">
      <img class="featurette-image img-responsive img-rounded" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xfp1/t31.0-8/10996824_973272119351486_5888948362828889131_o.jpg?dl=1" alot="Generic placeholder image">
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-4">
      <h2 class="featurette-heading">倒數<span class="text-muted">28</span>天</h2>
      <pre class="lead">
抵達了陌生的城市
呼吸著冷漠的空氣
在凜冽的夜風中
吐出一口口想念的白霧
轉角拐彎的每一次
總期待出其不意遇見你
何時，心中的企盼才能成真？

3/29，活大禮堂
南南戀，書櫃間隙遇到愛

金劇
人類一 王舒昂
工海一 邱昱軒
      </pre>
    </div>
    <div class="col-md-8">
      <img class="featurette-image img-responsive img-rounded" src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xfp1/t31.0-8/11018870_974403159238382_3170075221828549764_o.jpg?dl=1" alot="Generic placeholder image">
    </div>
  </div>
  <hr class="featurette-divider">

</div>
