<div class="container marketing">

  <div class="row featurette">
    <div class="col-md-4">
      <h2 class="featurette-heading">倒數<span class="text-muted">32</span>天</h2>
<pre class="lead">
可不可以不要走
就在臺南一起度過所有美麗及哀愁？
不是怕北上的你發現更大的世界
而是你就是我的宇宙
3/29，活大禮堂
南南戀，別走

手語劇
圖資一 張宜晴 
動科一 吳孟錡
</pre>
    </div>
    <div class="col-md-8">
      <img class="featurette-image img-responsive img-rounded" src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/11021287_972364946108870_6811953706892565401_o.jpg?dl=1" alot="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

</div>
