<div class="pt-triggers">
  <button class="btn btn-lg btn-primary" id="prevButton">上一頁</button>
  <button class="btn btn-lg btn-primary" id="nextButton">下一頁</button>
</div>

<div class="footer">
  <a target="_blank" href="https://www.facebook.com/NTUTainanWeek" class="label label-default">2015台大府城週</a>
</div>

  <div id="pt-main">
    <div class="pt-page pt-page-1">
      <div class="container bg-grey">
        <h1>依蕾特布丁奶酪<span class="pull-right label label-warning">$35/個 $380/盒12入</span></h1>
        <table class="table table-border">
          <tr>
            <td width="50%">
              <p class="text-info h2">鮮奶</p>
              <div class="row">
                <div class="col-md-8">
                  <p class="lead">
                  乳香濃郁的鮮奶，摻和鮮美的蛋汁<br>
                  調理製成如同白漿凝玉液<br>
                  香濃襲人，讓人饞涎欲滴！
                  </p>
                </div>
                <div class="col-md-4">
                  <img class="img-responsive" src="http://www.elate.com.tw/elate2014/upload/images/201291020394784709.jpg">
                </div>
              </div>
            </td>
            <td width="50%">
              <p class="text-info h2">可可</p>
              <div class="row">
                <div class="col-md-8">
                  <p class="lead">
                  可可與牛奶的完美搭配<br>
                  和濃郁的咖啡醬汁<br>
                  典雅誘人的色澤與風味，令人垂涎
                  </p>
                </div>
                <div class="col-md-4">
                  <img class="img-responsive" src="http://www.elate.com.tw/elate2014/upload/images/201291020502236511.jpg">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td width="50%">
              <p class="text-info h2">芒果</p>
              <div class="row">
                <div class="col-md-8">
                  <p class="lead">
                  嬌黃滑嫩的奶酪<br>
                  淋上甘甜艷黃的香濃芒果泥<br>
                  共譜出完美的協奏曲，風味細緻
                  </p>
                </div>
                <div class="col-md-4">
                  <img class="img-responsive" src="http://www.elate.com.tw/elate2014/upload/images/201291020573275780.jpg">
                </div>
              </div>
            </td>
            <td width="50%">
              <p class="text-info h2">芝麻</p>
              <div class="row">
                <div class="col-md-8">
                  <p class="lead">
                  研磨香炒芝麻調和醇奶<br>
                  淋上香稠的黑芝麻醬汁<br>
                  增添雙倍黑香風采<br>
                  沁味蕾 絕選
                  </p>
                </div>
                <div class="col-md-4">
                  <img class="img-responsive" src="http://www.elate.com.tw/elate2014/upload/images/2014251451959763.jpg">
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="pt-page pt-page-2">
      <div class="container bg-grey">
        <h1>依蕾特典藏塔<span class="pull-right label label-warning">$55/個 $320/盒6入</span></h1>
        <table class="table table-border">
          <tr>
            <td width="50%">
              <p class="text-info h2">焦糖</p>
              <div class="row">
                <div class="col-md-8">
                  <p class="lead">
                  嚴選法國頂級鮮奶油<br>
                  微燻香甜焦<br>
                  創造極緻 經典風味
                  </p>
                </div>
                <div class="col-md-4">
                  <img class="img-responsive" src="http://www.elate.com.tw/elate2014/upload/images/201491910205537715.jpg">
                </div>
              </div>
            </td>
            <td width="50%">
              <p class="text-info h2">可可</p>
              <div class="row">
                <div class="col-md-8">
                  <p class="lead">
                  頂級進口可可<br>
                  襯綴烘培研磨咖啡豆<br>
                  鮮奶醇香濃厚 沈潛高雅風味
                  </p>
                </div>
                <div class="col-md-4">
                  <img class="img-responsive" src="http://www.elate.com.tw/elate2014/upload/images/201491910253718075.jpg">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td width="50%">
              <p class="text-info h2">檸檬</p>
              <div class="row">
                <div class="col-md-8">
                  <p class="lead">
                  天然檸檬香氣<br>
                  交疊甜漬鮮採鳳梨<br>
                  鮮奶醇香濃厚 沈潛高雅風味
                  </p>
                </div>
                <div class="col-md-4">
                  <img class="img-responsive" src="http://www.elate.com.tw/elate2014/upload/images/201491910325350716.jpg">
                </div>
              </div>
            </td>
            <td width=50%>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="pt-page pt-page-3">
      <div class="container bg-grey">
        <h1>依蕾特法式風味乳酪塔<span class="pull-right label label-warning">$60/個 $320/盒6入</span></h1>
        <table class="table table-border">
          <tr>
            <td width="50%">
              <p class="text-info h2">檸檬</p>
              <div class="row">
                <div class="col-md-8">
                  <p class="lead">
                  調和新鮮檸檬汁的酸香<br>
                  在乳酪中層疊出一抹清新<br>
                  果香乳香交融的滋味<br>
                  很是美好
                  </p>
                </div>
                <div class="col-md-4">
                  <img class="img-responsive" src="http://www.elate.com.tw/elate2014/upload/images/201412191457493823.jpg">
                </div>
              </div>
            </td>
            <td width="50%">
              <p class="text-info h2">蔓越莓</p>
              <div class="row">
                <div class="col-md-8">
                  <p class="lead">
                  浸漬蔓越莓果乾疊加在香濃的乳酪中<br>
                  沁上一層水果果膠<br>
                  擁有優雅又甜美的氣息<br>
                  誘惑著你一口接一口
                  </p>
                </div>
                <div class="col-md-4">
                  <img class="img-responsive" src="http://www.elate.com.tw/elate2014/upload/images/201412191532322502.jpg">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td width="50%">
              <p class="text-info h2">芒果</p>
              <div class="row">
                <div class="col-md-8">
                  <p class="lead">
                  以台南玉井的在地芒果乾<br>
                  佐醇厚的芒果泥製作<br>
                  是台歐風情最完美的呈現<br>
                  不只驚艷也討喜
                  </p>
                </div>
                <div class="col-md-4">
                  <img class="img-responsive" src="http://www.elate.com.tw/elate2014/upload/images/2014121915114559281.jpg">
                </div>
              </div>
            </td>
            <td width=50%>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="pt-page pt-page-4">
      <div class="container bg-grey">
        <h1>章成麥芽餅<span class="pull-right label label-warning">$135/罐</span></h1>
        <table class="table table-border">
          <tr>
            <td width="60%">
              <p class="text-info h2">原味</p>
            </td>
            <td rowspan="3">
              <img class="img-responsive" src="https://lh3.googleusercontent.com/gK-FmXhBTgyisEAxKyNd0O58lsnqZ1PPOsOcrKS2moFWIi3XTi1Sjo530nhs7RnpAhqxow">
            </td>
          </tr>
          <tr>
            <td>
              <p class="text-info h2">黑糖</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="text-info h2">巧克力</p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
            <p class="lead">『章成麥芽餅』原承襲父親製作麥芽糖的技術，以生產一口麥芽餅，強調麥芽糖Q軟、不黏牙為最大特色與訴求。</p>
            <p class="lead">有著獨特的傳統風味，不在麥芽糖裡添加任何添加物，去渲染改變它的多種口味，而是搭配於章成特製的餅乾，給您多樣的口感，品嚐不一樣的口味。</p>
            <p class="lead">是台南府城十大伴手禮暨傳統美食. 泡茶聊天的好點心!!</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="pt-page pt-page-5">
      <div class="container bg-grey">
        <h1>得意蝦餅<span class="pull-right label label-warning">$110/壹包 $200/貳包</span></h1>
        <table class="table table-border">
          <tr>
            <td width="60%">
              <p class="text-info h2">原味</p>
            </td>
            <td rowspan="4">
              <img class="img-responsive" src="https://lh4.googleusercontent.com/AFM8URVrFejG2_kVQNq72dRUCXiK3kgC0rjk4iLrOuaBXyvPuaS_WwznkFohPb50pT0rzQ">
            </td>
          </tr>
          <tr>
            <td>
              <p class="text-info h2">黑胡椒</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="text-info h2">辣味</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="text-info h2">海苔</p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <p class="lead">安平遊客必買的名產伴手禮「蝦餅」，已經成為安平最佳代言人。
              <p class="lead">安平優質蝦餅專賣店「得意蝦餅」，歷年來優良衛生獎項、地方伴手禮名次獲獎無數。
              <p class="lead">秉持乾淨衛生製作過程中，除不加味精、防腐劑之外，更多了一道吸油手續，讓我們吃的安心健康。
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
