<p>Boga Boga Gagao Gagao! It's <%= Time.now %></p>
<p><%= @id %></p>
<button type="button" onclick="document.getElementById('tiredmp3').play();">Boga</button>
<audio id="tiredmp3" src="Tired.mp3" controls="controls">
  Your browser does not support the audio element.
</audio>
